/* ---------------------- Primeiro banner da página --------------------- */
.main-content {
    display: flex;    
    justify-content: center;
    width: 100%;
    height: 20vh;    
    border: solid red 3px;
}
.test-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 6rem;
    gap: 15px;
    border: solid green;
}

/* ----------------------------- Área dos Projetos ------------------------- */

.projetos{
    display: flex;
    flex-direction: column;    
    position: relative;
    background-image: radial-gradient(circle, #0053af, #004185, #00305c, #041e36);
    border: solid rgb(52, 50, 50);
       
}
.projetos-titulo{
    background: #042340;
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    border: solid black;
    width: 100%;
}
.projetos-texto{
    text-align: center;    
    padding-top: 50px;
    padding-bottom: 20px;    
    border: solid green;
}
.projetos-box{
    display: flex;    
    border: solid blue;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
}
.projetos-box-card{
    display: block;
    position: relative;
    border: solid red;
    width: 17%;
    text-align: center;
    margin: 70px 70px 0 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.projetos-box-card a {
    display: block;
}
.projetos-box-card h3{
    height: 30px;
}
.teste{
    visibility: hidden;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.2);    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.projetos-box-card:hover .teste {
    visibility: visible;
}

