/* ----------------------------- Área dos Projetos ------------------------- */
.projetos{
    display: flex;
    flex-direction: column;    
    position: relative;
    background-image: url(../../imagens/011.jpg);
    height: 542px;
    background-size: 35%;
    /* background-image: radial-gradient(circle, #0053af, #004185, #00305c, #041e36); */
    border: solid red;
       
}
.projetos-titulo{
    background: #042340;
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    border: solid black;
    width: 100%;
}
.projetos-texto{
    text-align: center;    
    padding-top: 50px;
    padding-bottom: 20px;    
    border: solid green;
}
.projetos-box{
    display: flex;    
    border: solid blue;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
}
.projetos-box-card{
    display: block;
    position: relative;
    background-color: rgb(57, 57, 219);
    /* background-image: url(../../imagens/characters/Lavian.png);
    background-size: 50px; */
    border: solid red;
    border-radius: 8px;
    height: 256px;
    width: 17%;
    text-align: center;
    margin: 70px 70px 0 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.projetos-box-card h3{
    top: 20px;
}
.projetos-box-card a {
    display: block;
}
.projetos-box-card h3{
    height: 30px;
}
.teste{
    visibility: hidden;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.2);    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.projetos-box-card:hover .teste {
    visibility: visible;
}

