/* ----------------------- Área do Rodapé ------------------- */
.main-footer{
    position: relative;
    top: 70px;
    background-color: #041e36;
    /* border: solid red; */
    
}
.social-cont{
    display: flex;
    /* border: solid yellow; */
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 30px;
}
.social-cont a img{
    width: 40px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    /* border: solid ; */
}
.cp-text{ 
    color: rgba(151, 149, 149, 0.7); 
    text-shadow: 0 1px rgba(219, 186, 186, 0.288);
    
}