/* --------- Menu Principal ---------- */
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;    
    margin-left: 65px;    
}
.logo a {
    display: flex;
    width: 230px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}
.navbar {
    display: flex;    
    min-height: 70px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 34px 0 0;
    margin-right: 32px;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav-link {
    display: flex;
    height: 70px;
    align-items: center;
    transition: 0.5s ease;    
}
.menuha {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 42px;
    height: 5px;
    border-radius: 2px;
    margin: 4px auto;
    background-color: #C2834C;
    transition: all 0.3s ease-in-out;
}

/* ------------------- Menu de links -------------------- */
.container-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #041e36;
    /* border: solid red 5px; */
    box-shadow: 0px 5px 9px 1px rgb(24, 23, 23);    
}
